exclude pytakt/*.py
include pytakt/LICENSE.txt
include pytakt/__init__.py
include pytakt/_version.py
include pytakt/chord.py
include pytakt/constants.py
include pytakt/context.py
include pytakt/effector.py
include pytakt/event.py
include pytakt/frameutils.py
include pytakt/interpolator.py
include pytakt/midiio.py
include pytakt/m21conv.py
include pytakt/mml.py
include pytakt/mml_evalexp.py
include pytakt/pianoroll.py
include pytakt/pitch.py
include pytakt/pmconv.py
include pytakt/pytaktcmd.py
include pytakt/sc.py
include pytakt/scale.py
include pytakt/score.py
include pytakt/smf.py
include pytakt/text.py
include pytakt/timemap.py
include pytakt/utils.py
include pytakt/gm/__init__.py
include pytakt/gm/drums.py
include pytakt/src/Makefile
include pytakt/src/*.h
include pytakt/src/*.cpp
