exclude takt/*.py
include takt/__init__.py
include takt/chord.py
include takt/constants.py
include takt/context.py
include takt/effector.py
include takt/event.py
include takt/frameutils.py
include takt/interpolator.py
include takt/midiio.py
include takt/m21conv.py
include takt/mml.py
include takt/pianoroll.py
include takt/pitch.py
include takt/pytakt.py
include takt/sc.py
include takt/scale.py
include takt/score.py
include takt/smf.py
include takt/text.py
include takt/timemap.py
include takt/utils.py
include takt/gm/__init__.py
include takt/gm/drums.py
include takt/src/Makefile
include takt/src/*.h
include takt/src/*.cpp
